streamlit
requests
pandas
numpy
SpeechRecognition
streamlit-webrtc
streamlit-mic-recorder
av
openai-whisper
pydub
python-dateutil
streamlit
streamlit-audiorec
whisper
pydub
streamlit-webrtc
streamlit-mic-recorder
speechrecognition
av
